<!DOCTYPE html>
<html
	xmlns="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: header"></th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <div class="container-fluid h-100" id="chat-page">
 	<div class="row justify-content-center h-100"> 

		
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 chat">
		<div class="card h-100">
			<div class="card-body">
				<div class="account-settings text-center">
					<div class="user-profile">
	
						<h5 class="display-5" th:text="${error}"></h5>
						<h5 class="display-5" th:text="${message}"></h5>
					
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
	</div> 
</body>
</html>